@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.header {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically in the center */
    color: aliceblue;
    background-color: black;
}

.header img {
    order: -1; /* Move the image to the beginning of the flex container */
    margin-right: 300px; /* Add some margin for spacing */
}


        .menu {
            display: flex;
            justify-content: center;
            color: aliceblue;
            background-color: #8f7224;
        }

        .menu h4 {
            margin-right: 40px; /* Adjust the margin as needed */
        }

        .projects {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .project {
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            width: 30%;
        }

        #about-me h2 {
            margin-top: 10px;
            padding: 0;
            width: auto;
            height: 30px;
            padding: 10px;
        }

        #about-me h3 {
            margin-top: 10px;
            margin-bottom: 0;
            margin-left: 10px;
        }

        #about-me p {
            margin: 0;
            margin-left: 10px;
            padding: 0;
        }

        #projects h2 {
            width: auto;
            height: 30px;
            padding: 10px;
        }

        #skills h2 {
            width: auto;
            height: 30px;
            margin-bottom: 0;
            padding: 10px;
        }

        .contacts {
            margin-bottom: 20px;
            display: inline-flex;
            padding: 5px;
        }

        #contacts p {
            margin-left: 10px;
            margin-right: 20%;
            display: inline-flex;
        }
    section#Education,
    section#contacts {
        margin-left: 10px; /* Adjust the value as needed */
    }
    section#skills table {
        border-spacing: 10px; /* Adjust the value as needed for space between columns and rows */
    }

    section#skills td {
        padding: 10px; /* Adjust the value as needed for space within each cell */
    }
